#authPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--auth-page-background-color);
}

app-auth {
  width: 100%;
  height: 100%;
}
