<div class="chatDisplayWrapper">
  <ul class="chatMessageList">
    <li class="chatMessage"
        [ngClass]="chatMessage.author.uid === currentUserID ? 'currentUserMessage' : 'otherUserMessage'"
        *ngFor="let chatMessage of chatMessages">

      <section class="messageText">
        <p>
          {{chatMessage.value}}
        </p>
      </section>

      <section class="messageInfo">
        <img class="authorImg"
             [src]="chatMessage.author.photoURL ? chatMessage.author.photoURL : '../../../../assets/default_photo.svg'"
             alt="The authors display photo">
        <time>{{ chatMessage.timestamp!.toDate() | date: 'short' }}</time>
      </section>


    </li>
  </ul>
</div>
