@use './themes.scss';

#appComponentWrapper {
  width: 100%;
  height: 100%;

  background-color: var(--app-background);
  color: var(--app-text-primary);

  font-family: var(--app-font-family);
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 5vh;

  app-header {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// aside {
//   background-color: var(--aside-background);
// }

main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
}

// footer {
//   position: fixed;
//   z-index: 3;
//   bottom: 0;
//   width: 100%;
//   height: 5vh;
// }
