#appComponentWrapper {
  // Color Palette
  --gray-1: #6a6d6c;
  --gray-2: #bbbebd;
  --gray-3: #3b3e3d;
  --gray-4: #dce0de;
  --gray-5: #959997;
  --my-favorite-black: #333333;


  --app-font-family: 'IBM Plex Sans', sans-serif;
  --app-background: #bbbebd;
  --app-text-primary: #333333;

  --header-background: #6a6d6c;
  --header-logo-background: #3b3e3d;
  --header-tab-border: #333333;
  --header-tab-highlight: #3b3e3d;
  --header-text-primary: #dce0de;
  --header-text-secondary: #3b3e3d;

  --aside-background: #6a6d6c;

}

.classy {}

.dark {}

.light {}

.matrix {}
