<div class="authComponentWrapper">
  <h2 *ngIf="authMode === 'login'">Login</h2>
  <h2 *ngIf="authMode === 'signup'">Sign Up</h2>
  <div class="errorMessage">{{errorMessage}}</div>
  <form [formGroup]="authForm"
        (click)="onSubmit()">
    <ul>
      <li>
        <label for="email">Email</label>
        <input id="email"
               type="text"
               formControlName="email">
      </li>
      <li>
        <label for="password">Password</label>
        <input id="password"
               type="text"
               formControlName="password">
      </li>
    </ul>
    <button type="submit">{{this.authMode === 'login' ? 'Login' : 'Sign Up'}}</button>
  </form>
  <p *ngIf="authMode === 'login'">Don't have an account? <a [routerLink]="['/auth']"
       [queryParams]="{authMode: 'signup'}">Sign up</a> instead!</p>
  <p *ngIf="authMode === 'signup'">Already have an account? <a [routerLink]="['/auth']">Login</a> instead!</p>
</div>
