.authComponentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h2 {}



form.authForm {
  position: relative;
  width: min(300px, 100%);

  .authErrorMessage {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25%;
    padding: 0 1rem;

    color: var(--app-error);
    font-weight: 700;
    font-style: italic;
  }

  .fieldErrorMessage {
    position: absolute;
    bottom: 0;

    color: var(--app-error);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }



  ul {
    list-style-type: none;
    width: 100%;
    margin: 25% 0 3rem;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;
      padding: 0 1rem 1.5rem;

      label {
        font-weight: 500;
      }

      input {
        width: 100%;
        height: 3rem;
        margin-top: 0.5rem;
        padding-left: 0.2rem;

        border: none;
        border-radius: 0.7rem;
        font-family: var(--app-font-family);
        font-size: 1.6rem;
      }

      input.ng-touched.ng-invalid {
        border: 1px solid var(--app-error);
      }
    }
  }

  .buttonWrapper {
    padding: 1rem 0;
    text-align: center;

    button {
      padding: 1rem 2rem;

      border: none;
      border-radius: 0.5rem;
      background-color: var(--button-background-color);
      box-shadow: 0 1rem 1rem -0.5rem rgba($color: black, $alpha: 0.5);
      color: var(--button-text-color);
      font-size: 1.6rem;
      font-family: var(--app-font-family);
    }
  }
}

p {
  margin-top: 2rem;
}
