<div class="authComponentWrapper">
  <h2 *ngIf="authMode === 'login'">Login</h2>
  <h2 *ngIf="authMode === 'signup'">Sign Up</h2>


  <form class="authForm"
        [formGroup]="authForm"
        (click)="onSubmit()">
    <div class="authErrorMessage">{{errorMessage}}</div>
    <ul>
      <li>
        <label for="email">Email</label>
        <input id="email"
               type="email"
               formControlName="email">
        <div *ngIf="getFormControl('email').touched && getFormControl('email').invalid"
             class="fieldErrorMessage">Please enter a valid email address</div>
      </li>
      <li>
        <label for="password">Password</label>
        <input id="password"
               type="password"
               formControlName="password">
        <div *ngIf="authMode === 'signup' && getFormControl('password').touched && getFormControl('password').invalid"
             class="fieldErrorMessage">The password must be a minimum of 6 characters</div>
      </li>
    </ul>
    <div class="buttonWrapper">
      <button type="submit">{{this.authMode === 'login' ? 'Login' : 'Sign Up'}}</button>
    </div>
  </form>
  <p *ngIf="authMode === 'login'">Don't have an account? <a [routerLink]="['/auth']"
       [queryParams]="{authMode: 'signup'}">Sign up</a> instead!</p>
  <p *ngIf="authMode === 'signup'">Already have an account? <a [routerLink]="['/auth']">Login</a> instead!</p>
</div>
